{% extends 'admin_panel/index.html.twig' %}
{% block title %}Ajouter produits
{% endblock %}
{% block body %}
	<div class="bg-light p-3">
		<h1>Ajouter produits</h1>
	</div>
	{{ include('produits/_form.html.twig') }}
	<br>

	<a href="{{ path('produits_list') }}">back to list</a>
{% endblock %}
