{% extends 'admin_panel/index.html.twig' %}
{% block title %}Ajouter produits
{% endblock %}
{% block body %}
	<h1>Ajouter produits</h1>
	{{form_start (form)}}
	{{form_widget (form)}}
	<input type="submit" value=" ajouter">

	{{form_end (form)}}
{% endblock %}
