{% extends 'admin_panel/index.html.twig' %}
{% block title %}modifier un produit
{% endblock %}
{% block body %}
	<div class="bg-light p-3">
		<h1>Modifier le produit</h1>
	</div>
	{{ include('produits/_form.html.twig') }}
	<br>

	<a href="{{ path('produits_list') }}">retour à la liste</a>


{% endblock %}
