<!doctype html>
<html lang="en" dir="ltr">

<!-- soccer/project/login.html  07 Jan 2020 03:42:43 GMT -->
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}
    {% block stylesheet %}
    <link rel="icon" href="AdminPanel/favicon.ico" type="image/x-icon"/>
    {% block title %}
        <title>:Auth :Login</title>
    {% endblock %}
    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="AdminPanel/asset/plugins/bootstrap/css/bootstrap.min.css" />
    <!-- Core css -->
    <link rel="stylesheet" href="AdminPanel/asset/css/main.css"/>
    <link rel="stylesheet" href="AdminPanel/asset/css/theme1.css"/>
    {% endblock %}
</head>
{% block body %}
<body class="font-montserrat">

<div class="auth">
    <div class="auth_left">
        <div class="card">
            <div class="text-center mb-2">
                <a class="header-brand" href="{{path('app_admin')}}"><i class="fa fa-soccer-ball-o brand-logo"></i></a>
            </div>
            <div class="card-body">
                <div class="card-title">Connectez-vous à votre compte</div>
                <div class="form-group">
                    <select class="custom-select">
                        <option>Admin</option>
                        <option>Organisateur</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label class="form-label">Mot De Passe<a href="{{path('Auth_forgot_pass')}}" class="float-right small">J'ai oublié le mot de passe</a></label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" />
                        <span class="custom-control-label">Remember me</span>
                    </label>
                </div>
                <div class="form-footer">
                    <a href="{{path('app_admin')}}" class="btn btn-primary btn-block" title="">S'identifier</a>
                </div>
            </div>
            <div class="text-center text-muted">
                Vous n'avez pas encore de compte? <a href="{{path('Auth_register')}}">Sign up</a>
            </div>
        </div>
    </div>
    <div class="auth_right full_img"></div>
</div>
{% block js %}
<script src="AdminPanel/asset/bundles/lib.vendor.bundle.js"></script>
<script src="AdminPanel/asset/js/core.js"></script>
{% endblock %}

</body>
{% endblock %}
<!-- soccer/project/login.html  07 Jan 2020 03:42:43 GMT -->
</html>