<!doctype html>
<html lang="en" dir="ltr">

<!-- soccer/project/login.html  07 Jan 2020 03:42:43 GMT -->
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}
    {% block stylesheet %}
        <link rel="icon" href="AdminPanel/favicon.ico" type="image/x-icon"/>
        {% block title %}
            <title>:: Admin :: Login</title>
        {% endblock %}
        <!-- Bootstrap Core and vandor -->
        <link rel="stylesheet" href="AdminPanel/asset/plugins/bootstrap/css/bootstrap.min.css" />
        <!-- Core css -->
        <link rel="stylesheet" href="AdminPanel/asset/css/main.css"/>
        <link rel="stylesheet" href="AdminPanel/asset/css/theme1.css"/>
    {% endblock %}
</head>
{% block body %}
    <body class="font-montserrat">


        <div class="auth_left">

            <div class="card">

                <div class="text-center mb-5">
                    <a class="header-brand" href="{{path('app_admin')}}" ><i class="fa fa-soccer-ball-o brand-logo"></i></a>
                </div>

                <div class="card-body">
                    <div class="card-title"><h3><strong>Créer un nouveau compte</strong></h3></div>

                    {{ include('user/_form.html.twig') }}

                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-label">Acceptez le <a href="#">termes et politique</a></span>
                        </label>
                    </div>

                </div>
                <div class="text-center text-muted">
                    Vous avez déjà un compte? <a href="{{path('Auth_login')}}">S'identifier</a>
                </div>
            </div>
        </div>


    {% block js %}
        <script src="AdminPanel/asset/bundles/lib.vendor.bundle.js"></script>
        <script src="AdminPanel/asset/js/core.js"></script>
    {% endblock %}
    </body>
{% endblock %}
<!-- soccer/project/login.html  07 Jan 2020 03:42:43 GMT -->
</html>