{% extends 'base.html.twig' %}

{% block title %}TimeTable
{% endblock %}


{% block body %}


	<!-- Class Timetable Section Begin -->
	<div class="class-timetable-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<span>WELCOME TO FIXTURES</span>
						<h2>Find Your Game</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="table-controls">
						<ul></ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="class-timetable">
						<table>
							<thead>
								<tr>
									<th></th>
									<th>Monday</th>
									<th>Tuesday</th>
									<th>Wednesday</th>
									<th>Thursday</th>
									<th>Friday</th>
									<th>Saturday</th>
									<th>Sunday</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="class-time">6.00am - 8.00am</td>
									<td class="" data-tsmeta="workout">
										<h3>WEIGHT LOOSE</h3>
										<span>RLefew D. Loee</span>
									</td>
									<td class="hover-bg ts-meta" data-tsmeta="fitness">
										<h3>Cardio</h3>
										<span>RLefew D. Loee</span>
									</td>
									<td class="" data-tsmeta="workout">
										<h3>Yoga</h3>
										<span>Keaf Shen</span>
									</td>
									<td class="hover-bg ts-meta" data-tsmeta="fitness">
										<h3>Fitness</h3>
										<span>Kimberly Stone</span>
									</td>
									<td class="dark-bg blank-td"></td>
									<td class="hover-bg ts-meta" data-tsmeta="motivation">
										<h3>Boxing</h3>
										<span>Rachel Adam</span>
									</td>
									<td class="" data-tsmeta="workout">
										<h3>Body Building</h3>
										<span>Robert Cage</span>
									</td>
								</tr>
								<tr>
									<td class="class-time">10.00am - 12.00am</td>
									<td class="blank-td"></td>
									<td class="" data-tsmeta="fitness">
										<h3>Fitness</h3>
										<span>Kimberly Stone</span>
									</td>
									<td class="hover-bg ts-meta" data-tsmeta="workout">
										<h3>WEIGHT LOOSE</h3>
										<span>RLefew D. Loee</span>
									</td>
									<td class="" data-tsmeta="motivation">
										<h3>Cardio</h3>
										<span>RLefew D. Loee</span>
									</td>
									<td class="hover-bg ts-meta" data-tsmeta="workout">
										<h3>Body Building</h3>
										<span>Robert Cage</span>
									</td>
									<td class="" data-tsmeta="motivation">
										<h3>Karate</h3>
										<span>Donald Grey</span>
									</td>
									<td class="blank-td"></td>
								</tr>
								<tr>
									<td class="class-time">5.00pm - 7.00pm</td>
									<td class="" data-tsmeta="fitness">
										<h3>Boxing</h3>
										<span>Rachel Adam</span>
									</td>
									<td class="hover-bg ts-meta" data-tsmeta="motivation">
										<h3>Karate</h3>
										<span>Donald Grey</span>
									</td>
									<td class="" data-tsmeta="workout">
										<h3>Body Building</h3>
										<span>Robert Cage</span>
									</td>
									<td class="blank-td"></td>
									<td class="" data-tsmeta="workout">
										<h3>Yoga</h3>
										<span>Keaf Shen</span>
									</td>
									<td class="hover-bg ts-meta" data-tsmeta="motivation">
										<h3>Cardio</h3>
										<span>RLefew D. Loee</span>
									</td>
									<td class="" data-tsmeta="fitness">
										<h3>Fitness</h3>
										<span>Kimberly Stone</span>
									</td>
								</tr>
								<tr>
									<td class="class-time">7.00pm - 9.00pm</td>
									<td class="hover-bg ts-meta" data-tsmeta="motivation">
										<h3>Cardio</h3>
										<span>RLefew D. Loee</span>
									</td>
									<td class="dark-bg blank-td"></td>
									<td class="hover-bg ts-meta" data-tsmeta="fitness">
										<h3>Boxing</h3>
										<span>Rachel Adam</span>
									</td>
									<td class="" data-tsmeta="workout">
										<h3>Yoga</h3>
										<span>Keaf Shen</span>
									</td>
									<td class="hover-bg ts-meta" data-tsmeta="motivation">
										<h3>Karate</h3>
										<span>Donald Grey</span>
									</td>
									<td class="" data-tsmeta="fitness">
										<h3>Boxing</h3>
										<span>Rachel Adam</span>
									</td>
									<td class="hover-bg ts-meta" data-tsmeta="workout">
										<h3>WEIGHT LOOSE</h3>
										<span>RLefew D. Loee</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Class Timetable Section End -->
{% endblock %}
