{% extends 'Base.html.twig' %}

{% block title %}New Vote
{% endblock %}

{% block body %}
	<h1>Create new Vote</h1>
	<div class="container">
		{{ include('votes/_form.html.twig') }}
	</div>

	<a href="{{ path('app_house') }}">back</a>
{% endblock %}
