<form method="post" action="{{ path('app_ugame_delete', {'id': ugame.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ugame.id) }}">
	<button class="btn">Delete</button>
</form>
