{# {% extends 'base.html.twig' %}

{% block title %}TimeTable
{% endblock %}


{% block body %}


	<!-- Class Timetable Section Begin -->
	<section class="class-timetable-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<span>Find Your Time</span>
						<h2>Find Your Time</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="table-controls">
						<ul>
							<li class="active" data-tsfilter="all">All event</li>
							<li data-tsfilter="fitness">Fitness tips</li>
							<li data-tsfilter="motivation">Motivation</li>
							<li data-tsfilter="workout">Workout</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">

					<div id="calendar" style="height:40%;  color: lightgrey;font-family: fantasy"></div>


				</div>
			</div>
		</div>
	</section>
	<!-- Class Timetable Section End -->

{% endblock %}
{% block javascripts %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
var calendarEl = document.getElementById('calendar');
var calendar = new FullCalendar.Calendar(calendarEl, {
initialView: 'dayGridMonth',
headerToolbar: {
start: 'dayGridMonth, timeGridWeek',
center: 'title'
},
events: {{ data|raw }},
heigth: 'auto'

});
calendar.render();
})
document.getElementById('preloder').style.display = 'none';
	</script>
{% endblock %} #}
{% extends 'base_front.html.twig' %}

{% block title %}TimeTable
{% endblock %}


{% block body %}


	<!-- Class Timetable Section Begin -->
	<div class="class-timetable-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<span>WELCOME TO FIXTURES</span>
						<h2>Find Your Game</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="table-controls">
						<ul>
							<li class="active" data-tsfilter="all">SPORTIFY</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">

					<div id="calendar" style="height:40%;  color: lightgrey;font-family: arial"></div>


				</div>
			</div>
		</div>
	</div>
	<!-- Class Timetable Section End -->

{% endblock %}
{% block javascripts %}
	<script>
		document.addEventListener('DOMContentLoaded', function () {
var calendarEl = document.getElementById('calendar');
var calendar = new FullCalendar.Calendar(calendarEl, {
initialView: 'dayGridMonth',
headerToolbar: {
start: 'dayGridMonth, timeGridWeek',
center: 'title'
},
events: {{ data|raw }},
heigth: 'auto'

});
calendar.render();
})
document.getElementById('preloder').style.display = 'none';
	</script>
{% endblock %}
